{% extends "base.html" %} }

{% block content %}
    <h2>Users</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Is active</th>
        </tr>
        </thead>
        <tbody>
        {% for element in users %}
            <tr>
                <td>{{ element.first_name }}</td>
                <td>{{ element.last_name }}</td>
                <td>{{ element.middle_name }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.role }}</td>
                <td>{{ element.is_active }}</td>
                <td>
                    <a class="btn btn-outline-warning"  href="{% url "update" element.id %}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger"  href="{% url "delete_user" element.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}