{% extends "base.html" %} }

{% block content %}
    <h2>Register</h2>
    <form method="post" autocomplete="off"> {% csrf_token %}
        {% for field in data %}
            <p>
                {{ field.label }}
                {{ field }}
                {% for error in errors %}
                    <p>
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
{% endblock content %}