{% extends "base.html" %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Book Name</th>
            <th>Book Description</th>
            <th>Author Name</th>
            <th>Author Patronymic</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.description }}</td>
                {% for authors in book.authors.all %}
                    <td>{{ authors.name }}</td>
                    <td>{{ authors.patronymic }}</td>
                    <td><a class="btn btn-outline-success" href="{% url "new_order" %}">Order</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}