{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Author Name</th>
        <th>Author Surname</th>
        <th>Author Patronymic</th>
    </tr>
    </thead>
    <tbody>
    {% for author in authors %}
    <tr>
        <td>{{ author.name }}</td>
        <td>{{ author.surname}}</td>
        <td>{{ author.patronymic }}</td>
        {% if user.is_authenticated %}
        <td>
        <a class="btn btn-outline-danger"  href="{% url "delete_author" author.id %}">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}