{% extends "base.html" %}

{% block content %}
    <h2>Author</h2>
    <a href="{% url 'author_create_url' %}"
               class="btn btn-light">Add New Author</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Author Name</th>
        <th>Author Surname</th>
        <th>Author Patronymic</th>
    </tr>
    </thead>
    <tbody>
    {% for author in authors %}
    <tr>
        <td>{{ author.name }}</td>
        <td>{{ author.surname}}</td>
        <td>{{ author.patronymic }}</td>
    {% if user.is_authenticated and user.role == 1 %}
        <td>
        <a class="btn btn-outline-warning"  href="{% url "author_update_url" author.id %}">Edit</a>
        </td>
        <td>
        <a class="btn btn-outline-danger"  href="{% url "delete_author" author.id %}">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}