{% extends "base.html" %}

{% block content %}
    <h2>Book</h2>
    <a href="{% url 'book_create_url' %}"
       class="btn btn-light">Add New Book</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Book Name</th>
            <th>Book Description</th>
            <th>Author Name</th>
            <th>Author surname</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.description }}</td>
                {% for authors in book.authors.all %}
                    <td>{{ authors.name }}</td>
                    <td>{{ authors.surname }}</td>
                    <td><a class="btn btn-outline-success" href="{% url "new_order" book.id %}">Order</a></td>
                    {% if user.is_authenticated %}
                        <td>
                            <a class="btn btn-outline-warning" href="{% url "book_update_url" book.id %}">Update</a>
                        </td>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <td>
                            <a class="btn btn-outline-danger" href="{% url "delete_book" book.id %}">Delete</a>
                        </td>
                    {% endif %}

                {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}